html {
  height: 100%;
  width: 100%;
}

.box {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

}

.box button {
background-color: #7f6144;
color: #f9dab0;
border: none;
padding: 5px;
cursor: pointer;
  
}