html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #7f6144ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.container {
  background-color: #fed9af;
  padding: 10px;
  border: 2px dashed #4c3c2f;
  border-radius: 10px;
}

.item {
  list-style: none;
  padding-button: 8px;
  font-size: 15px;
}